@using System.IO;
@model IEnumerable<VisDoc.Models.DocumentModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Visma Doc</h1>
<p>Velkommen</p>

<!-- Modal Upload -->
<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Upload">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="file" name="files" multiple />
        <input style="margin-top:16px" type="text" placeholder="Name" name="givenName" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" value="Upload" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
</form>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModal" id="UploadBtn"class="nav-link">Upload</a>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Action</a></li>
            <li><a class="dropdown-item">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form method ="get" asp-controller="Home" asp-action="Index" class="d-flex">
        <input name="Search"class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<!-- Table -->
@Html.Partial("DocumentViewPartial", Model)

<!-- Modal ObjStats -->
<div class="modal fade" id="ModalStats" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="docInfoDivId" class="modal-body">
            <div style="border-bottom: 1px solid lightgrey; margin:10px 0; "class="container">
                <h4>Change Name</h4>
                <div style="margin-bottom:20px;">
                <form method="post" asp-controller="Home" asp-action="UpdateInfo" >
                    <input id="changeNameTo" style="margin-top:10px; height:38px;border:none;border-bottom: 1.4px solid grey;" type="text" name="NameChange" placeholder="NameChange"/>
                    <input id="elementIdSender" name="NameId" type="hidden"/>
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </form>
                </div>
            </div>

            <div style="border-bottom: 1px solid lightgrey; margin:10px 0; "class="container">
                <h4>Set Parents</h4>
                <div style="margin-bottom:20px;">
                    @Html.Partial("ParentSelectViewPartial", Model)
                </div>
            </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    const nameInfoclick = (elementId)=>{
        document.getElementById("elementIdSender").selected = elementId
    }

</script>

